<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <ion-grid>
   <ion-row>
     <ion-col *ngFor= "let m of muebles" col-3>
       <ion-card>
        <img *ngIf = "m.hasOwnProperty('pictures')"
       src="{{m.pictures[0].url}}">
       <ion-card-content>
          <h1 *ngIf ="m.hasOwnProperty('geo')">
              Inmuebles
            </h1>
          <p>
            {{m.price.formattedAmount}} 
          </p>
          <p>
              {{m.geo.displayName}} ,{{m.geo.name}}
          </p>
       
          
       </ion-card-content>

       </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
